<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    Your cart is empty.  Click <%= link_to "here", root_path %> to fill it.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/carts_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
  <%#= form_for charges_path do %>
    <article>
  <!--     <label class="amount">
        <span>Amount: $5.00</span>
      </label> -->
    </article>


 <%# end %>
<% end %>
