    <!-- Footer -->
    <div id="footer">
        <!-- Shell -->
        <div class="shell">
            <!-- Cols -->
            <div class="cols">
                <ul>
                    <li class="col">
                        <h4>About Shabbos Fish</h4>
                        <p>Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <a href="#" title="Duis autem">Duis autem</a> vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu</p>
                        <a href="#" class="more-link" title="Read More">Read More >></a>
                    </li>
                    <li class="col social">
                        <h4>get social</h4>
                        <ul>
                            <li><a href="#" class="fb-link" title="Facebook">facebook</a></li>
                            <li><a href="#" class="twitter-link" title="Twitter">twitter</a></li>
                         <!--    <li><a href="#" class="behance-link" title="Behance">behance</a></li> -->
                            <li><a href="#" class="blogger-link" title="Blogger">blogger</a></li>
                            <!-- <li><a href="#" class="digg-link" title="Digg">digg</a></li> -->
                        </ul>
                    </li>
                    <li class="col partners">
                        <h4>Recipies</h4>
                        <ul>
                            <li><a href="#" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
                            <li><a href="#" title="Cras eu lorem id mauris">Cras eu lorem id mauris</a></li>
                            <li><a href="#" title="Proin et velit ut libero">Proin et velit ut libero</a></li>
                            <li><a href="#" title="Velit esse molestie consequat">Velit esse molestie consequat</a></li>
                            <li><a href="#" title="Vel illum dolore eu">Vel illum dolore eu</a></li>
                        </ul>
                    </li>
                    <li class="col contact">
                        <h4>Emails</h4>
                        <p>Sign up for weekly specials</p>
                        <form action="" method="post">
                            <div class="field-wrapper">
                                <input type="text" class="field" placeholder="Name" />
                            </div>
                            <div class="field-wrapper">
                                <input type="text" class="field" placeholder="Email" />
                            </div>
                            <input type="submit" value="Submit" class="submit-btn" title="Submit" />
                            <div class="cl">&nbsp;</div>
                        </form>
                    </li>
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
            <!-- End Cols -->

           <!--  <a href="#" class="logo" title="Shopper Friend"><img src="css/images/footer-logo.png" alt="Shopper Friend" /></a>
            <div class="cl">&nbsp;</div> -->
        </div>
        <!-- End Shell -->
    </div>
    <!-- End Footer -->